.card-base {
  display: flex;
  justify-content: column;
  min-width: 27.5em;
  max-width: 90vw;
  min-height: 15em;
  height: fit-content;
  border: 1px solid red;
  box-shadow: var(--box-shadow);
}

.card-base__header {
  display: flex;
  width: 100%;
  min-height: 6.5em;
  border: 1px solid blue;
}

.card-base__title {
  display: flex;
  align-items: center;
  flex-basis: 90%;
  min-height: 4.5em;
  border: 1px solid red;
}

.card-base__actions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 10%;
  border: 1px solid red;
  padding: 0.4em;
}

.card-base__icons {
  font-size: 2.5em;
  border: 1px solid red;
  padding: 0 !important;
}
