.card-base {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: fit-content;
  border-radius: var(--border-radius-md);
  box-shadow: var(--box-shadow);
  background-image: var(--card-bg-gradient);
}

.card-base__header {
  display: flex;
  width: 92%;
  min-height: 6.5em;
  box-shadow: var(--box-shadow-line);
}

.card-base--nocontent {
  flex-direction: row;     
}

.card-base__header--noshadow{
  box-shadow: none;  
  margin-left: 1.5em;  
}

.card-base__title {
  display: flex;
  align-items: center;
  flex-basis: 90%;
  min-height: 4.5em;  
}

.card-base__actions {
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;  
  align-items: flex-end;
  flex-basis: 10%;
}

.card-base__icon {
  font-size: 1.6em;
  cursor: pointer;
}

.card-base__icon--large {
  font-size: 2.4em;
  margin-right: 0.2em;
}

.card-base__icon--danger{
  color: var(--color-hot)
}

.card-base__footer {
  padding: 0.3em;
}

.card-base__text {
  font-size: 2em;
  font-weight: 600;
  margin-left: 0.3em;
}

.card-base__text--title{
  text-transform: capitalize;
}

.card-base__text--upper {
  text-transform: uppercase;
}

.card-base .MuiSvgIcon-root {
  margin: 0 !important;
}
