.card-content__section,
.card-content__row,
.card-content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-content--column {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 0.5em;
}

.card-content__row {
  justify-content: space-between;
}

.card-content__text {
  font-size: 2em;
  margin-left: 0.3em;
}

.card-content__text--title {
  text-transform: capitalize;
}

.card-content__text--pipe {
  font-size: 2em;
  height: 1.5em;
  width: 5px;
  background-color: var(--text-color-2lighter);
}

.card-content__icon {
  font-size: 1.6em;
}