.navbar {
  background-color: transparent;
  width: 100%;
}

.navbar-buttons{
  color: var(--color-tertiary);
  filter: brightness(1.3);
}

.navbar-buttons.Mui-selected {
  color: var(--typeface-color);
}
