.teams-modal {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: var(--color-clear);
    padding: 3.5em;
    gap: 1.2em;
    border-radius: 2em;
  }
  