.layout-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  width: 100vw;
  max-width: var(--maxWidth);
  height: 6rem;
  box-shadow: var(--box-shadow);
  background-image: var(--gradient-primary);
}
.layout-header__title {
  font-weight: 900;
  color: var(--typeface-color);
}
