.layout-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  width: 100vw;
  max-width: var(--maxWidth);
  height: 6rem;
  box-shadow: var(--box-shadow);
  background-image: var(--gradient-primary);
}

.layout-header__title {
  font-size: 3rem;
  font-weight: 800;
  text-transform: capitalize;
  font-family: var(--typeface-primary);
  color: var(--typeface-color);
}
