.layout-header {        
  width: 100vw;
  max-width: var(--maxWidth);
  height: 6rem;
  box-shadow: var(--box-shadow);
  background-image: var(--gradient-primary);
}

.layout-header__title {
  font-size: 3rem;
  font-weight: 800;
  text-transform: capitalize; 
  padding: 0 2rem;
  line-height: 6rem;    
  font-family: var(--typeface-primary);
  color: var(--typeface-color);
}
