@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;400;700;800;900&family=Roboto:wght@300;400;500;600;700;900&display=swap');
@import url(./styles/input.css);
@import url(./styles/layout.css);
@import url(./styles/button.css);
@import url(./styles/text.css);

:root {
  --maxWidth: 450px;
  /* Colors */
  --typeface-color: hsla(0, 0%, 100%, 1);
  --color-primary: hsla(207, 100%, 25%, 1);
  --color-secondary: hsla(207, 66%, 43%, 1);
  --color-tertiary: hsla(197, 96%, 46%, 1);
  --color-tertiary-lighter: hsla(197, 96%, 65%, 1);
  /* Poin of Interest Color */
  --color-highligthed: hsla(32, 100%, 50%, 1);
  --color-focus: hsla(32, 100%, 65%, 1);
  --color-focus-lighter: hsla(32, 100%, 92%, 1);
  --color-hot: hsla(0, 80%, 50%, 1);
  /* Brigth Colors */
  --color-clear: hsla(0, 0%, 99%, 1);
  --color-clear-medium: hsla(0, 0%, 96%, 1);
  --color-clear-dark: hsla(0, 0%, 94%, 1);
  --color-clear-2dark: hsla(0, 0%, 84%, 1);
  /* Text & Typeface */
  --text-color-2lighter: hsla(207, 20%, 75%, 1);
  --text-color-lighter: hsla(207, 20%, 55%, 1);
  --text-color: hsla(207, 30%, 10%, 1);
  --text-color-medium: hsla(207, 25%, 35%, 1);
  /* Card Background Color */
  --gradient-primary: linear-gradient(
    to right,
    var(--color-secondary) 20%,
    var(--color-primary) 80%
  );
  --card-bg-gradient: linear-gradient(
    to bottom,
    var(--color-clear),
    rgba(0, 0, 0, 0.05)
  );
  --user-info-background: linear-gradient(
    to bottom,
    var(--color-clear-medium),
    var(--color-clear)
  );
  /* Fonts */
  --typeface-primary: 'Mulish', 'Open Sans', 'Verdana', 'sans-serif';
  --typeface-secondary: 'Roboto', 'Open Sans', 'Verdana', 'sans-serif';
  /* Border Radius */
  --border-radius: 0.5rem;
  --border-radius-md: 1rem;
  --border-radius-xl: 1.5rem;
  /* Box Shadow */
  --box-shadow-xs: 0rem 0.1rem 0.4rem rgba(0, 0, 0, 0.2);
  --box-shadow: 0rem 0.4rem 1rem -0.2rem rgba(0, 0, 0, 0.2);
  --box-shadow-md: 0.25rem 0.25rem 1.2rem rgba(0, 0, 0, 0.3);
  --box-shadow-xl: 0.5rem 0.5rem 2rem rgba(0, 0, 0, 0.3);
  --box-shadow-line: 0rem 0.4rem 0.6rem -0.5rem rgba(0, 70, 128, 0.3);
  --box-shadow-hover: 0rem 2rem 2rem -1.5rem rgba(0, 0, 0, 0.3);
  /* Box Padding */
  --box-padding: 1.6rem;
  /* Animations */
  --transition-time: 0.4s;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html {
  display: flex;
  justify-content: center;  
  font-family: var(--typeface-primary);
  font-size: 10px;
  color: var(--text-color);    
}

body {
  max-width: var(--maxWidth);  
}

.fa-lp {
  padding-left: 0.15em;
}

.fa-rp {
  padding-right: 0.4em;
}

.fa--hot {
  color: var(--color-hot);
}

.fas--highlighted {
  color: var(--color-focus);
}
